<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBpwxjpxlkPJenFccgOqvElkF8Wjo59HEE</string>
	<key>GCM_SENDER_ID</key>
	<string>889445005008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Cobsccomp242p-22.SquareGame</string>
	<key>PROJECT_ID</key>
	<string>colourquestgame</string>
	<key>STORAGE_BUCKET</key>
	<string>colourquestgame.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889445005008:ios:42adc4e4a0f479d61750d5</string>
</dict>
</plist>